extends layout

block variables
  - var title = "Home"

block content
  h2.text-center Hand It Over  !!

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to our Supply-chain management system. Visit our
        #[a(href="https://github.com/aashan007/secretWeapon", title="okkta-express-login-portal on GitHub") GitHub page] to learn more.
